.people {
    color: greenyellow;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.buttons {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    width: 270px;
}