.superInput {
    border-radius: 100px;
    max-width: 300px;
    display: inline-block;
    margin: 10px;
    background: #275048;
    color: #99ff99;
}

.input:focus {

    border: 1px solid cornflowerblue;
}

.errorInput {
    border-radius: 100px;
    max-width: 300px;
    display: inline-block;
    margin: 10px;

    background: #275048;
    color: #99ff99;

    border: 1px solid #dd3355;
}

.error {
    color: #dd3355;
    height: 21px;
    margin-left: 10px;
}