.select {
    padding: 5px;
    width: 50px;

    color: black;
    background-color: #99ff99;

    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;

    border: 1px solid #dfdfdf;
    border-radius: 2px;

    cursor: pointer;
    appearance: none;
}

.option {
    color: whitesmoke;
    background-color: #275048;
}

.option:checked {
    color: black;
    background-color: #99ff99;
}