.someClass {

}

.error {
    border-radius: 5px;
    outline: none;
    border: 2px solid red;
    margin-right: 15px;
    background: #275048;
}

.notError {
    border-radius: 5px;
    outline: none;
    border: 2px solid greenyellow;
    margin-right: 15px;
    background: #275048;
    color: #99ff99;
}

.errorText {
    font-weight: bold;
    color: darkred;

}

.inputClass {
    margin-right: 10px;
}

.button {
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background: #0a4b37;
    color: greenyellow;
    margin-right: 5px;
}

.button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.button:disabled {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    color: grey;
}
